*{
    margin: 0;
    padding: 0;
    cursor: pointer;
}
 /* div-nav-section */

.div-nav-section{
    height: 380px;
    background:#293e4f;
    width: 100%;
}
.nav-section{
 
    display: block;
    color: #fff;
    /* padding-top: 2rem; */

}
 /* hovering effect  */

.heihlight:hover , .section >.heading , .footer-div1 , .footer-div2 li:hover {
    color: #61807c;
 
}

/* navbar */

.navbar{
    display: flex;
    /* padding-top: 2rem; */
    justify-content: center;
    align-items: center;
    gap:100px;
    font-family: "Lato", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 50%;
    

}


/* nav-section-1 */

.nav-section-1{
    font-size: 40px;
    font-family: "Zilla Slab Highlight", serif;
    font-weight: lighter;
    letter-spacing: 1px;
    border-top: 4px solid #648880;
    padding: 40px;
 
}

/* nav-section-2  */

.nav-section-2 > p{
    padding-top: 1rem;
    padding-left: 10rem;
    font-size: 19px;
    color: #61807c;
    font-weight: bolder;
    
}

ul{
    display: flex;
    gap:1.5rem;
    cursor: pointer;
    font-size: 15px;
  
}

ul a{
    padding-top: 1.2rem;
    color: #fff;
    text-decoration: none;
}


.section{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #d9e7c6;
  height: 203px ;
    
}

.section .heading {
    font-size: 30px;
    font-weight: lighter;
    padding: 1.1rem;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.section > .heading1{
    font-size: 20px;
    /* padding-bottom: 0.6rem; */
    color: #878f80;
    line-height: 1.8rem;
  
};
 



/* middle container */

.middle-container{
    width: 100%;
    height: 540px;
    padding-top: 1rem;
}


.middle-container h2{
    
    color: #61807c;
    font-weight: 100;
   
   
}

.middle-container p{
    color: #878f80;
}

.place1 ,.place2{
    display: flex;
    /* height: 100%; */
    align-items: center;
    justify-content: center;
    /* gap:3rem; */
    justify-content:space-evenly;

}

.city_pride-info , .Seasons-mall-info {
    width: 20%;
    height: 100%;
    padding:1rem;
    /* margin-left: 3rem; */
    
}

.city_pride-info  div , .Seasons-mall-info div{
    line-height: 1.4rem;
    /* padding: 0.4rem; */

}

.city_pride-info  a , .Seasons-mall-info a{
    color: black;
    text-decoration: none;
    cursor: pointer;
    opacity: 0.7;
}
.city_pride-info  a:hover , .Seasons-mall-info a:hover{
    color: #458ddf;
}


.city-pride-Map > .map1{
   margin: 1rem;
}


/* footer */

.footer{
    margin-top: 1rem;
    background:#293e4f;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;

}

.footer-div1 p{
    font-size: 18px;
}

.footer-div2 ul{
    color: #fff;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;

}
